<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
</head>
<body>
    <div class="register">
        <div><h1>Login Here</h1></div>
        {% if messages %}
            {% for message in messages %}
                <p style="color: firebrick;">{{message}} </p>
            {% endfor %}
        {% endif %}
        <div class="register_form-div">
            <form action="" class="register-form" method="POST">
                {% csrf_token %}
                <div class="todo-label">
                    <label for="username">Username</label>
                </div>
                <div>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="todo-label">
                    <label for="password">Password</label>
                </div>
                <div>
                    <input type="password" name="password" id="password" required>
                </div>
                <div>
                    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
                </div>
                <button>
                    Login
                </button>
            </form>
        </div>
    </div>
</body>
</html>